/* CSS Document */
body{font-family:"Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif;font-size:10pt;color:#333333;background-color:#FFFFFF;margin: 50px auto;max-width:800px;}
h1{font-size:16pt;border-bottom:1px dashed #CCCCCC;}
h1 sup {font-size:10pt;font-weight:normal;font-style:italic;color:#005F82;}
ul{list-style-image:url(/img/bullet.gif);}
a:link,a:visited{color:#CC3333;background-color:inherit;font-weight:bold;}
a:hover{text-decoration:none;color:#FF0000;background-color:inherit;}
#counter{font-size:80%;font-weight:bold;color:#666666;background-color:inherit;text-align:center;margin-top:20px;}
.inv{color:#FFFFFF;background-color:#666666;padding:0 3px;}
img{border:none;}
#image{float:left;border:none;border:1px solid #CCCCCC;display:block;}
#about{padding-left:135px;}
