/* CSS Document */
body{font-display:swap;font-family:-apple-system,BlinkMacSystemFont,"Arial",sans-serif;font-size:11pt;color:#333333;background-color:#FFFFFF;margin: 50px auto;max-width:950px;line-height:1.55;}
h1{font-display:swap;font-family:'Montserrat';font-size:18pt;border-bottom:1px dashed #CCCCCC;font-weight: bold;}
h1 sup {font-size:12pt;font-weight:normal;font-style:italic;color:#005F82;}
ul{list-style-image:url(/images/bullet.gif);}
a:link,a:visited{color:#CC3333;background-color:inherit;font-weight:bold;}
a:hover{text-decoration:none;color:#FF0000;background-color:inherit;}
#counter{font-size:80%;font-weight:bold;color:#666666;background-color:inherit;text-align:center;margin-top:20px;}
.inv{color:#FFFFFF;background-color:#666666;padding:0 3px;}
#image{float:left;border:1px solid #CCCCCC;display:block;}
#about{padding-left:135px;}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {img{image-rendering:pixelated;}}
